<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="news.intelli.intellinews">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".IntelliNewsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="news.intelli.intellinews.database.IntelliNewsContentProvider"
            android:authorities="news.intelli.intellinews.database"
            android:exported="false" />

        <receiver
            android:name=".utils.network.NetworkChangeListener"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:windowBackground="@color/colorPrimary"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>